<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="pages(firstPage,pageSize,previousPage,nextPage,lastPage,currentPage)">

    <th:block th:if="${firstPage}ne null">
        <a th:href="|?size=${pageSize}&&page=${firstPage}|">first page</a>
    </th:block>

    <th:block th:if="${previousPage} ne null">
        <a th:href="|?size=${pageSize}&&page=${previousPage}|">previous page</a>
    </th:block>

    <p>current page <th:block th:text="${currentPage}"></th:block></p>
    <th:block th:if="${nextPage}">
        <a th:href="|?size=${pageSize}&&page=${nextPage}|">next page</a>
    </th:block>
    <th:block th:if="${lastPage}">
        <a th:href="|?size=${pageSize}&&page=${lastPage}|">last page</a>
    </th:block>
</div>
<div th:fragment="size(pageSize,currentPage)">
    <p>current size <th:block th:text="${pageSize}"></th:block></p>
    <a th:href="@{|?size=2&&page=${currentPage}|}">2</a>
    <a th:href="@{|?size=10&&page=${currentPage}|}">10</a>
    <a th:href="@{|?size=20&&page=${currentPage}|}">20</a>
    <a th:href="@{|?size=50&&page=${currentPage}|}">50</a>
</div>
</body>
</html>