<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf Hello World Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet"  href="/static/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet"  href="/static/css/style.css" />

</head>
<body>
    <div th:insert="~{fragments/header :: links}"></div>
    <div class="container">
        <div th:insert="~{fragments/pagination :: size(${pageSize},${currentPage})}"></div>
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th></th>
                <th></th>
            </tr>
            <th:block th:each="item : ${items}">
                <tr>
                    <td th:text="${item.id}"></td>
                    <td>
                        <input type="text" th:value="${item.name}" th:id="edit+${item.id}">
                    </td>
                    <td>
                        <input type="button" th:value="save" th:onclick="|updateItem(${item.id})|">
                    </td>
                    <td>
                        <input type="button" th:value="delete" th:onclick="|deleteItem(${item.id})|">
                    </td>
                    <td>
                        <a th:href="@{|/groups/edit/${item.id}/|}">edit groups</a>
                    </td>
                    <td>
                        <a th:href="@{|/professors/edit/${item.id}/|}">edit teachers</a>
                    </td>
                    <td>
                        <a th:href="@{|/courses/edit/${item.id}/|}">edit courses</a>
                    </td>

                </tr>
            </th:block>
        </table>
        <div th:insert="~{fragments/pagination :: pages(${firstPage},${pageSize},${previousPage},${nextPage},${lastPage},${currentPage})}"></div>

        <hr>
        <div>

                <input type="text" id="newValue">
                <input type="button" value="add new" onclick="createItem()">

        </div>

    </div>


    <div th:insert="~{fragments/footer :: copy}"></div>



<script src="/static/js/loaded/jquery-3.3.1.min.js"></script>
<script src="/static/js/loaded/popper.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js" ></script>



<script src="/static/js/requests.js" ></script>
<script src="/static/js/departmentsPage.js" ></script>


</body>
</html>