<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf Hello World Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet"  href="/static/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet"  href="/static/css/style.css" />

</head>
<body>
    <div th:insert="~{fragments/header :: links}"></div>
    <div class="container">
        <p th:text="${superior.name}"></p>

        <div th:insert="~{fragments/pagination :: size(${pageSize},${currentPage})}"></div>
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Subgroup</th>
                <th>Save button</th>
                <th>Delete button</th>
            </tr>
            <th:block th:each="item : ${items}">
                <tr>
                    <td th:text="${item.id}"></td>
                    <td>
                        <input type="text" th:value="${item.email}" th:id="email+${item.id}">
                    </td>
                    <td>
                        <select  th:value="${item.subGroup}"  th:id="subgroup+${item.id}">
                            <option value="0">undefined</option>
                            <option value="1" th:selected="${item.subGroup eq 1}">1</option>
                            <option value="2" th:selected="${item.subGroup eq 2}">2</option>
                            <option value="3" th:selected="${item.subGroup eq 3}">3</option>
                        </select>
                    </td>
                    <td>
                        <input type="button" th:value="save" th:onclick="|updateItem(${item.id})|">
                    </td>
                    <td>
                        <input type="button" th:value="delete" th:onclick="|deleteItem(${item.id})|">
                    </td>

                </tr>
            </th:block>
        </table>
        <div th:insert="~{fragments/pagination :: pages(${firstPage},${pageSize},${previousPage},${nextPage},${lastPage},${currentPage})}"></div>

        <hr>
        <div>
                <input type="email" id="email-new">
            <select  id="subgroup-new">
                <option value="0">undefined</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
                <input type="button" value="addNewUser" th:onclick="|createItem(${superior.id})|">
        </div>

    </div>


    <div th:insert="~{fragments/footer :: copy}"></div>



<script src="/static/js/loaded/jquery-3.3.1.min.js"></script>
<script src="/static/js/loaded/popper.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js" ></script>



<script src="/static/js/requests.js" ></script>
<script src="/static/js/groupPage.js" ></script>


</body>
</html>