<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf Hello World Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet"  href="/static/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet"  href="/static/css/style.css" />
    <link rel="stylesheet"  href="/static/css/image-picker.css" />


</head>
<body>
    <div th:insert="~{fragments/header :: links}"></div>
    <div class="container">
        <p th:text="${superior.name}"></p>

        <div th:insert="~{fragments/pagination :: size(${pageSize},${currentPage})}"></div>
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <th:block th:each="item : ${items}">
                <tr>
                    <td th:text="${item.id}"></td>
                    <td>
                        <img th:src="${images.get(item.imageId)}" alt="" th:id="image+${item.id}">
                    </td>
                    <td>
                        <input type="text" th:value="${item.name}" th:id="name+${item.id}">
                    </td>
                    <td>
                    <td>
                        <input type="button" value="set image" th:onclick="|setImage('image${item.id}')|">
                    </td>
                    <td>
                        <input type="button" th:value="save" th:onclick="|updateItem(${item.id})|">
                    </td>

                    <td>
                        <input type="button" th:value="delete" th:onclick="|deleteItem(${item.id})|">
                    </td>


                </tr>
            </th:block>
        </table>
        <div th:insert="~{fragments/pagination :: pages(${firstPage},${pageSize},${previousPage},${nextPage},${lastPage},${currentPage})}"></div>

        <hr>
        <div>
                <input type="text" id="name-new">
                <img th:src="${images.get(1)}" id="image-new">
                <input type="button" value="set image" onclick="setImage('image-new')">
                <input type="button" value="create new course" th:onclick="|createItem(${superior.id})|">
        </div>

        <hr>
        <hr>
        <!--<select name="" id="image-source">-->
            <!--<th:block th:each="image : ${images}">-->
                <!--&lt;!&ndash;//th:attr="data-validation-matches-message='\'' + #{user.notfound}" + '\''"&ndash;&gt;-->

                <!--<option th:attr="data-img-src=|@{${image}}|"-->
                        <!--th:value="${images.indexOf(image)}"-->
                        <!--th:text="|image#${images.indexOf(image)}|"-->
                <!--&gt;</option>-->

            <!--</th:block>-->
        <!--</select>-->
        <select name="" id="image-source" onchange="setImage('image-source-selected')">
            <th:block th:each="image : ${images}">

                <option
                th:value="${image}"
                th:text="|image#${images.indexOf(image)}|"
                ></option>

            </th:block>
        </select>
        <img th:src="${images.get(1)}" alt="" id="image-source-selected">

    </div>


    <div th:insert="~{fragments/footer :: copy}"></div>



<script src="/static/js/loaded/jquery-3.3.1.min.js"></script>
<script src="/static/js/loaded/popper.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js" >


</script><script src="/static/js/loaded/image-picker.min.js" ></script>

<script src="/static/js/requests.js" ></script>
<script src="/static/js/coursePage.js" ></script>


</body>
</html>